/* Breakpoint table styling */
@media (min-width: 576px) {
  #config-container {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 36px;
    overflow-y: auto;

    border-right: 1px solid lightgray;
  }
  #sheet-update-form {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
  #sheet-update-button {
    /* radius: none; */
    border: none;
    border-radius: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
